:root {
    --font-fam: 'Azo Sans';
    --font-w-bold: 700;
    --font-w-medium: 500;
    --font-w-light: 300;
    --font-s-bold: 48px;
    --font-s-ex-medium: 18px;
    --font-s-medium: 16px;
    --font-s-small: 14px;
    --white: #FFFFFF;
    --green: #22A75D;
    --blue: #2278D4;
    --black: #191B21;
    --dark-blue: #1D1534;
}

::-webkit-scrollbar {
    width: 0;
}

section {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:focus,
a:active,
a:hover {
    color: var(--white);
    cursor: pointer;
}

.container {
    max-width: 1864px;
}

/* Header */
header {
    width: 100%;
    padding: 35px 0;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
}

.menu {
    display: flex;
    max-width: 700px;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

.list,
header ul {
    display: flex;
    max-width: 413px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header ul li a {
    font-family: var(--font-fam);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    text-transform: uppercase;
}

.headder-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    max-width: auto;
    width: 100%;
    min-height: 35px;
}

.logo {
    width: 100%;
    background-image: url(../img/logo_text.svg);
    background-repeat: no-repeat;
}

.sing {
    display: flex;
}

.sign-in,
.sign-up {
    font-family: var(--font-fam);
    font-style: normal;
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 17px 30px;
    border-radius: 100vw;
    border: 0;
}

.sign-up {
    background-color: var(--white);
    color: var(--black);
}